
*.mo

# Folders to keep under version control
# albumselect
# archiveupload
# captcha
# cart
# comment
# customfield
# dcraw
# debug
# dynamicalbum
# exif
# ffmpeg
# flashvideo
# gd
# hidden
# httpauth
# icons
# imageblock
# imagemagick


###################
# Untracked folders
###################

# addviaemail
# bulkitemupdate
# bulkmanage
# bulkupload
# customderivatives
# download
# favourites
# geturls
# integrity


###################
# Pending to review folders
###################
# itemadd
# jpegtran
# keyalbum
# linkitem
# linksinthehead
# map
# members
# mime
# multilang
# netpbm
# newitems
# nokiaupload
# notification
# orestes-utils
# panorama
# permalinks
# publishxp
# quotas
# randomhighlight
# rating
# rearrange
# remote
# replica
# reupload
# rewrite
# rss
# search
# share
# sitemap
# sizelimit
# slideshow
# squarethumb
# statistics
# tags
# thumbnail
# thumbpage
# title
# uploadapplet
# userinfo
# watermark
# webdav
# zipcart



####################
# Themes
####################

themes/ajaxian
themes/carbon
themes/classic
themes/debaser
themes/ebony
themes/floatrix
themes/fluid
themes/gflickr
themes/hybrid
themes/map
# themes/matrix
# themes/mobile_matrix
themes/nzdi
themes/opticalpork
# themes/orestes
themes/pear
themes/simplified
themes/siriux
themes/slider
themes/tile
themes/x_treme

.idea
*.off
*.clean
*.tgz
*.org


modules/map/images/routes/
